body{
    max-width: 1280px;
    margin: 0 auto;
    background-color: #F1F1F3;
}
/* font container */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
    }

.fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    }

.fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    }
/* font container add */
/* shared style start */
.all_heading{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
}
.all_paragraph{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    line-height: 1.5;
}
.vision_heading{
    font-weight: bold;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
}
.common_btn{
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 11px 20px;
}
.vision_mg{
    margin-top: 32px;
}
.vison_pdd{
    padding-left: 32px;
    padding-right: 32px;
}
.bold_32{
    font-weight: bold;
    font-size: 32px;
}
/* head section design start */
.head_section{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 20px;

}
.page_title{
    font-size: 32px;
    font-weight:700;
    color: #0E0E0E;
}
.sign_up_btn{
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
    color: #006A50;
    font-weight: 600px;
    font-size: 18px;
    
}
/* head section design end */

/*  banner design start */
.banner_container{
    background-color:#C6E4D6;
    height: 560px ;
    border: none;
    border-radius: 24px;
    position: relative;
    margin-top: 0px;
}
.banner_content{
    width: 622px;
    height: 322px;
    position: absolute;
    left: 58px;
    top: 100px;
}
.page_title2_0{
    font-size: 24px;
    font-weight:500;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 0;
}
.title_moto{
    font-size: 56px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 0px;
}
.explore_bd_btn{
    background-color:#006A50 ;
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
    margin-top: 30px;
}
.banner_img{
    position: absolute;
    right: 58px;
    top: 80px;
}
/* banner design end */

/* second section start */
.second_section{
    margin-top: 80px;
    margin-bottom: 0px;
}
.sector_of_vision{
    display: grid;
    height: 325px;
    grid-template-columns: 410px 410px 410px;
    column-gap: 24px;
}
.future_heading{
    margin-bottom: 0px;
}
.vison_paragraph{
    margin-top: 24px;
    margin-bottom: 32px;
    line-height: 1.9;
}
.digital_tr{
    background-color: rgba(84, 144, 245, 0.2);
    border: none;
    border-radius: 16px;
}
.dg_btn{
    background-color: #5490F5;
}
.green_en{
    background-color: rgba(198, 228, 214, 1);
    border: none;
    border-radius: 16px;
}
.gr_btn{
    background-color: #006A50;
}
.modern_in{
    background-color: rgba(247, 235, 207, 1);
    border: none;
    border-radius: 16px;
}
.mo_btn{
    background-color: #FFC239;
}
/* second section end */

/* recent news container  start */
.recent_container{
    display: flex;
    gap: 32px;
    background-color: #FFFFFF;
    padding: 48px;
    margin-bottom: 0px;
    border: none;
    border-radius: 24px;
    margin-top: 32px;
}
.recent_news_h{
    margin-top: 80px;
    margin-bottom: 0px;
}
.recent_p{
    margin-top: 24px;
    margin-bottom: 32px;
}
.img_radius{
    border: none;
    border-radius: 24px;
    width: 408px;
    height: 306px;
}
.padding{
    padding: 48px;
}
.new_satelite{
    margin-top: 0px;
    margin-bottom: 12px;
}
.aljazeera{
    margin-bottom: 12px;
}
.date_time{
    margin-top: 0px;
    margin-bottom: 12px;
}
.satelite_p{
    margin-top: 0px;
    line-height: 1.5;
    margin-bottom: 0px;
}
.read_more{
    margin-top: 32px;
    background-color: #006A50;
}
.recent_container1{
    margin-top: 24px;
    margin-bottom: 0px;
}
/*  recent container section end */

/* Donate Today section  start*/
.tk_amount{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 24px;
    padding: 0 104px;
    margin-top: 32px;
}
.taka{
    background-color: white;
    padding: 40px;
    border: none;
    border-radius: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
.taka:hover{
    background-color: rgba(198, 228, 214, 1);
    cursor: cell;
}
input[type=text]{
    width: 950px;
    height: 20px;
    justify-content: center;
    display: inline;
    margin: 32px 124px;
    background-color: white;
    border: none;
    padding: 20px 40px;
}
input::placeholder{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}
.donate_btn{
    background-color: #006A50;
}
.center{
    justify-content: center;
    text-align: center;
}
.donate_h{
    margin-top: 80px;
    margin-bottom: 0px;
    text-align: center;
    
}
.donate_p{
    margin-top: 24px;
    text-align: center;
    padding: 0 88px;
    margin-bottom: 0px;
}
/* donate today section end */
.newsletter_container{
    background-color: rgba(198, 228, 214, 1);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 24px;
    margin-top: 80px;
}
.news_h{
    margin-bottom: 0px;
}
.news_p{
    margin-top: 16px;
    line-height: 1.5;
    margin-bottom:24px;
}

.form{
    display: flex;
    justify-content: space-between;
    width: 750px;
    height: 56px;
    align-items: center;
    margin: 0 auto;
}
.input_div{
    width:600px;
    height: 100%;

}
.sub_email{
    width:600px;
    height: 100%;
    border: transparent;
    background-color:white;
    border-radius: 0px 0px 10px 0px;
}
input::placeholder{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-left: 40px;

}
.btn_div{
    width: 150px;
    height: 56px;
}
.subcribe_btn{
    width: 150px;
    height: 56px;
    border-radius: 0 8px 8px 0px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #006A50;
}
.we_not{
    text-align: center;
    margin-top: 24px;
}
/* block quote section */
.blockquote_sec{
    background-color: white;
    height: 256px;
    margin-top: 80px;
    border: none;
    border-radius: 16px;
    position: relative;
}
.quote_bg{
    position: absolute;
    top: 25px;
    left: 24px;
}
.quote_content{
    position: absolute;
    left: 24px;
    top:35px
}
.qoute_p{
    padding-right: 24px;
    text-align: justify;
    margin-bottom: 0px;
}
.dr_yunus{
    margin-top: 12px;
    font-size: 20px;
    font-weight: 600px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 0px;
}
.chief_p{
    margin-top: 4px;
}
/* blockquote section end */

